<p align="right">
<small><a href="http://internetwide.org">InternetWide</a> » <a href="index.html">Demo</a> » <a href="hacking.html">Hacking</a></small>
</p>
<h1 id="hacking-this-demo">Hacking this Demo</h1>
<blockquote>
<p><em>This is a desktop with two fully-featured domains. Live out your technical heart.</em></p>
</blockquote>
<p>The Client Domain and Server Domain are similar in setup, but they have different purposes in the demo.</p>
<ul>
<li>The Client Domain is related to (possibly run by) the user on the Client Desktop.</li>
<li>The Server Domain is an external/foreign service that links back to the Client Domain for authentication under Realm Crossover. This demo shows the SASL variant.</li>
</ul>
<h2 id="account-information">Account Information</h2>
<p>There are two accounts on each machine. The first is for a normal user,</p>
<pre><code>User: arpa2
Pass: arpa2all</code></pre>
<p>The other is for system administration only,</p>
<pre><code>User: root
Pass: xover4all</code></pre>
<h2 id="wire-tapping">Wire Tapping</h2>
<p>We installed <code>wireshark</code> on the Client Desktop, and <code>tshark</code> on the Domains. The network over which they connect is called <code>enp0s8</code> in Linux. Not all traffic is TLS-encrypted yet. We use <code>fdXX:XXXX:XXXX:XXXX::/64</code> prefixes, which is a randomly generated local prefix. Each VirtualBox VM has its own prefix.</p>
<p>You will find many bridges on the Domains. These connect a number of containers that run for each Domain. The most important one is <code>dmz0</code> which carries traffic for the public prefix of the Domain. Another is <code>svc0</code> which concentrates traffic towards a LAN Service and <code>bck0</code> that connects components more generally, such as a FastCGI plugin into a web server.</p>
<p>After <code>ip netns list</code> you can see a number of network name spaces for the containers below. We generally like to do things like</p>
<pre><code>ip netns exec svc0ns ss -S
ip netns exec web0ns tshark -S0 -w /tmp/client-web0.pcap -ni dmz0 tcp port 443
ip netns exec web0ns tshark -S0 -w /tmp/client-web0.pcap -ni bck0 tcp port 3000</code></pre>
<h2 id="special-protocols">Special Protocols</h2>
<p>We designed a few protocols that you may not be accustomed to.</p>
<ul>
<li><p>SASL over Diameter is what the Domains use to relay authentication traffic during Realm Crossover. It uses a few AVPs that carry a SASL token, mechanisms and channel binding information. The <code>svc0</code> container running <code>internetwide/lanservice</code> in the Server Domain connects to the <code>id0</code> container running <code>internetwide/identity</code> in the Client Domain.</p>
<p><a href="https://datatracker.ietf.org/doc/html/draft-vanrein-diameter-sasl">specification</a>, <a href="https://gitlab.com/arpa2/freediameter-sasl">code</a>.</p></li>
<li><p>HTTP-SASL is an authentication extension for HTTP, that makes it inherit a lot of generally defined authentication mechanisms. Most other protocols import such mechanisms via SASL, and HTTP is ready for it too, so we can push authentication down into the web server and not have to reinvent simplistic password mechanisms in every web application.</p>
<p><a href="https://datatracker.ietf.org/doc/html/draft-vanrein-httpauth-sasl">specification</a>, <a href="https://gitlab.com/arpa2/http_sasl_client/">desktop code</a>, <a href="https://gitlab.com/arpa2/apachemod/-/tree/master/arpa2_sasl">local-authentication plugin</a>, <a href="https://gitlab.com/arpa2/apachemod/-/tree/master/arpa2_diasasl">realm-crossing plugin</a>.</p></li>
<li><p>Quick-DiaSASL is a simple notation for SASL over Diameter, which is much easier for SASL authenticators. This makes it light-weight to make modules that include Realm Crossover for SASL into services that now handle SASL authentication locally. It is a simple ASN.1 protocol and we even provide an API to make it easy on plugin writers, but it’s so simple that we also built the simple structures directly, for instance to get a pure Python implementation.</p>
<p><a href="https://datatracker.ietf.org/doc/html/draft-vanrein-diameter-sasl-06#appendix-A">specification</a>, <a href="https://gitlab.com/arpa2/apachemod/-/tree/master/arpa2_diasasl">authenticator plugin</a>, <a href="https://gitlab.com/arpa2/freediameter-sasl">service concentrator</a>.</p></li>
<li><p>KIP is a mechanism for “push-mode encryption” that we use to wrap SASL traffic for the <code>SXOVER-PLUS</code> mechanism. This is how we establish an end-to-end tunnel between the Client Desktop and the Client Domain, even when passing through the Server Domain.</p>
<p>no specification yet, <a href="https://gitlab.com/arpa2/kip/">code</a>.</p></li>
</ul>
<h2 id="building-infrastructure">Building Infrastructure</h2>
<p>We built the Domains with our own light wrappers around CMake and RunC.</p>
<ul>
<li><p>We used <a href="https://gitlab.com/arpa2/mkhere/">“mkhere”</a> as a repository of build instructions. Our own software is CMake, but we can also handle other build styles with this set of packages. We also rely on the OS.</p></li>
<li><p>We used <a href="https://gitlab.com/arpa2/mkroot/">“mkroot”</a> to build the <a href="https://opencontainers.org/">Open Containers</a> that are subsequently run with RunC.</p></li>
<li><p>Each domain has a startup script in its root directory. It starts containers with <code>runc</code>, using <code>tmux</code> to capture their console. You can start with <code>tmux attach</code> and use the <code>Ctrl-]</code> key combination to operate it.</p></li>
</ul>
<h2 id="containers">Containers</h2>
<p>The InternetWide Architecture puts great emphasis on domain hosting, and facilitates it by building containers that address our concerns about security and privacy. Thanks to the building infrastructure, we could showcase how that looks.</p>
<p>This demo uses a number of containers, which represent the logic of each Domain. You can list them with <code>runc list</code> and find their consoles via <code>tmux attach</code>.</p>
<ul>
<li><p><code>pub0</code> runs the <code>internetwide/pub2dmz</code> component, which is basically our route to the outside World. It allows an IPv6-only internal network even though the outside World continues to support IPv4.</p></li>
<li><p><code>svc0</code> runs the <code>internetwide/lanservice</code> component, where local traffic concentrates, like DNS and Quick-DiaSASL.</p></li>
<li><p><code>id0</code> runs the <code>internetwide/identity</code> component as an identity provider. In this demo, it is mostly used as the serving side for SASL over Diameter.</p></li>
<li><p><code>kip0</code> runs the <code>internetwide/kip</code> component to supply encryption keys for push-mode encryption. It has broad uses, but this demo only uses it for the <code>SXOVER-PLUS</code> mechanism, where it yields an end-to-end encryption tunnel.</p></li>
<li><p><code>web0</code> runs the <code>internetwide/web</code> component as a web server running Apache. In this demo, it offers web pages from the <code>demo/http-sasl</code> component and connects to the <code>internetwide/mail</code> component over FastCGI.</p></li>
<li><p><code>mail0</code> runs the <code>internetwide/mail</code> component as an incoming mail server. It does not actually relay email, but will drop emails for <code>demo</code> in the endless storage facilities at <code>/dev/null</code>. In this demo, it is used to demonstrate Access Control based on a specially crafted email address. This address can be constructed over a FastCGI program <code>makemail.fcgi</code>.</p></li>
</ul>
<p>Each container has its own network namespace with the matching name and <code>ns</code> added, like <code>web0ns</code> for the web server component.</p>
<h2 id="your-server-software">Your Server Software</h2>
<p>We would be thrilled if you considered adding Realm Crossover to your server software. Chances are that we made it really easy for you, by providing the Quick-DiaSASL protocol and the <code>svc0</code> setup of a Diameter service.</p>
<p>This demo may also be helpful as a development environment. It has the customary development tools integrated.</p>
<p>We would love to hear from you if you embark on this path!</p>
<p><em>Good luck!</em></p>
