<p align="right">
<small><a href="http://internetwide.org">InternetWide</a> » <a href="index.html">Demo</a> » <a href="httpsasldemo.html">HTTP-SASL</a></small>
</p>
<h1 id="demonstration-of-http-sasl">Demonstration of HTTP-SASL</h1>
<blockquote>
<p><em>Most protocols incorporate the SASL framework, which independently develops authentication. HTTP does not, which has caused application-level logic to take over. HTTP-SASL adds this better habit of other protocols into the web.</em></p>
</blockquote>
<p>This is not a demonstration of Realm Crossover, but it uses HTTP-SASL with local accounts. Actually, we use the same mechanism as for Realm Crossover by passing SASL to an identity provider; it just happens to be a local one.</p>
<p><strong>Take note</strong> that we are protocol desigers, not GUI designers. The popup may be a bit clunky, and is mostly to show possibilities. Do not close the popup yourself. It is only started when FireFox starts. Should it crash, then stop and restart FireFox to get a new login demo.</p>
<h2 id="run-the-demo">Run the Demo</h2>
<p>Proceed as follows:</p>
<ul>
<li>Open the <a href="https://web0.unicorn.demo.arpa2.org/demo/http-sasl/">HTTP-SASL demo page</a> in a separate tab</li>
<li>Authenticate as user <code>demo</code> and password <code>sekreet</code>. Set the SASL mechanism to <code>DIGEST-MD5</code>. Your domain <code>pixie.demo.arpa2.org</code> may be set, but it will be ignored for <code>DIGEST-MD5</code> authentication.</li>
<li>After login, your authenticated user identity is shown to you. As you can see, it involves the <code>unicorn.demo.arpa2.org</code> domain in which the server runs.</li>
</ul>
<p>What this shows you, is that we always use the form <code>user@domain.name</code> for an authenticated user and, given that you have an account on the server, you can login under that domain. This is what your selection for the <code>DIGEST-MD5</code> mechanism demonstrates.</p>
<p>Realm Crossover is the mature variation on this scheme, but it is not enforced. Both the server and you have a choice when they use HTTP-SASL. If the server stops offering local accounts however, you can switch to the <code>SXOVER-PLUS</code> mechanism for Realm Crossover.</p>
<h2 id="native-support">Native Support</h2>
<p>The popup window used for authentication is a native application. FireFox is the first to implement a new standard for making such connections to a tightly/securely coupled desktop application. And our work on HTTP-SASL may well be the first to use it.</p>
<p>What this means is that your credentials are handled outside of the browser environments. Notably, out of reach of JavaScript. What passes over the wire is solely determined by the SASL mechanisms that you choose. Plain passwords might still be picked up by rogue elements in a browser, but <code>DIGEST-MD5</code> is a bit better, and <code>SXOVER-PLUS</code> is strongly protected.</p>
<p>Our aim for the future is to incorporate Kerberos authentication as well. This is only available on the desktop. This form of authentication is old, but highly potent in a scary environment such as today’s Internet or, for that matter, a browser that downloads scripts from anywhere. The benefit of Kerberos is that it is fast, quantum-proof and, very pleasant for users, it is a single-signon system.</p>
<h2 id="software-used">Software Used</h2>
<p>Our web software demonstrated here is:</p>
<ul>
<li><a href="https://gitlab.com/arpa2/mkroot/-/tree/master/internetwide/mail">internetwide/web</a> is our web server, built into an Open Container. It uses a FastCGI backend.</li>
<li><a href="https://gitlab.com/arpa2/apachemod/-/tree/master/arpa2_diasasl">mod_arpa2_diasasl.so</a> is an Apache plugin for our <a href="https://gitlab.com/arpa2/apachemod/-/tree/master/arpa2_diasasl">Quick-DiaSASL protocol</a>.</li>
<li><a href="https://gitlab.com/arpa2/mkroot/-/tree/master/internetwide/lanservice/">internetwide/lanservice</a> concentrates the Quick-DiaSASL protocol in <a href="https://gitlab.com/arpa2/freediameter-sasl">freediameter-sasl</a> whose client side handles the login.</li>
</ul>
