<p align="right">
<small><a href="http://internetwide.org">InternetWide</a> » <a href="index.html">Demo</a></small>
</p>
<h1 id="demo-for-internetwide-realm-crossover">Demo for InternetWide Realm Crossover</h1>
<blockquote>
<p><em>Welcome. This is a demo that shows work that we have done, quietly in the background, to fix central problems about the way the Internet works. Control over Identity and more focus on hosting a variety of integrating services is central.</em></p>
</blockquote>
<figure>
<img src="cli-srv-cli.svg" alt="Client Desktop connects to Server Domain, which authenticates the client via a callback to the Client Domain." /><figcaption><em>Client Desktop connects to Server Domain, which authenticates the client via a callback to the Client Domain.</em></figcaption>
</figure>
<h2 id="running-the-demos">Running the Demo’s</h2>
<p><em>Presuming you Downloaded and Installed as described below…</em></p>
<p>You should start all three VMs and watch the Client Desktop. It will log you on as user <code>arpa2</code> and present you with a FireFox browser and a login popup. <em>Do not close the popup dialog</em>, but leave it be. You may otherwise end up having to restart FireFox.</p>
<p><em>If that was already done, continue below.</em></p>
<p>You can always return to this page with the browser’s <code>Home</code> button. The following options are now available:</p>
<ul>
<li><a href="httpsasldemo.html">Demonstration of HTTP-SASL</a></li>
<li><a href="sxoverdemo.html">Demonstration of Realm Crossover for SASL</a></li>
<li><a href="maildemo.html">Demonstration of Mail Addresses with Access Control</a></li>
<li><a href="hacking.html">Hacking this Demo</a></li>
</ul>
<h2 id="downloading-or-upgrading-the-demo">Downloading or Upgrading the Demo</h2>
<p>This demonstration and possibly later versions can be downloaded from our <a href="rsync://rsync.internetwide.org/InternetWide/">RSync server</a> — the image is large, because it delivers a complete environment with two domain hosting environments.</p>
<p>If you received the demo on a USB Stick then you’re all set, but using RSync may make it fast to recover from corruption or mistakes, as well as to upgrade to future releases of the Demo.</p>
<p><em>You are welcome to redistribute the USB Stick or otherwise spread the word about our work.</em></p>
<h2 id="installing-the-demo">Installing the Demo</h2>
<p>This demo can be run inside <a href="https://www.virtualbox.org/">VirtualBox</a>. Install the downloaded file with <code>File » Import Appliance</code> and wait until it has loaded. Then, you should have three Virtual Machines (VMs) in a group named <code>InternetWide Realm Crossover</code>,</p>
<ul>
<li><p><code>Client Desktop</code> is a VM with a graphical user interface. You can start it and a FireFox browser should appear with this document as its home page. We extended FireFox with support for <a href="https://www.ietf.org/id/draft-vanrein-httpauth-sasl-06.html">HTTP-SASL</a> and there is a connection to a desktop popup that currently supports password entry, but that could also be extended to support Kerberos for single-signon.</p></li>
<li><p><code>Server Domain</code> is a VM that represents the hosted domain for a web server. The web server has a plugin module for HTTP-SASL, which passes over a simple protocol called <a href="https://tools.ietf.org/id/draft-vanrein-diameter-sasl-06.html#name-centralised-handing-of-sasl">Quick-DiaSASL</a> to reach a local Diameter client that passes <a href="https://tools.ietf.org/id/draft-vanrein-diameter-sasl-06.html#name-avp-definitions-for-sasl-in">SASL over Diameter</a> to the <code>client.domain</code> name found in a login attempt.</p></li>
<li><p><code>Client Domain</code> is a VM that represents the hosted domain that defines the client identity. The identity provider accepts <a href="https://tools.ietf.org/id/draft-vanrein-diameter-sasl-06.html#name-avp-definitions-for-sasl-in">SASL over Diameter</a> and provides the local <code>userid</code> that the web server can then compose with <code>client.domain</code> to form <code>userid@client.domain</code>.</p></li>
</ul>
<p>Each VM is a box in the diagram above, and normally would be on a different part of the network. The VMs are connected directly via an internal network <code>xoverdemo</code> via their second adapters while their primary adapters share your machine network via NAT.</p>
<p>Although you will initially use the Client Desktop only, you need the three components for the demo. You can start each in turn with a double click or using the <code>Start</code> button on them. If you have a technical mindset, you will probably appreciate zooming in on the Server Domain and Client Domain later on. We installed <code>wireshark</code> on the Client Desktop and <code>tshark</code> on the Client Domain and Server Domain so you can tap the secondary <code>enp0s8</code> interface adapter.</p>
<h2 id="thanks-for-support">Thanks for Support</h2>
<p>Our work on the InternetWide Architecture takes great effort, and has not been able without support by a few parties who subscribe to the underlying purposes and trusted our team to work on it. In order of appearance, these have been:</p>
<ul>
<li><p><a href="https://nlnet.nl/">NLnet</a> is a sponsor of open source software development, and subscribes to the idea that users should be central in an Internet, and that this is increasingly deteriorating.</p></li>
<li><p><a href="https://sidnfonds.nl/">SIDNfonds</a> also works to improve the Internet from varying angles, and has a strong backing of hosting providers.</p></li>
<li><p><a href="https://pointer.ngi.eu/">NGI Pointer</a> is part of the EU’s work towards a Next Generation Internet, embracing the European take on privacy and user rights. The specifics of the Pointer program are geared towards sponsoring new ideas that may prove positively disruptive for the architecture of the Internet.</p></li>
</ul>
<p><em>Thanks for your support of our ambituous project!</em></p>
