<p align="right">
<small><a href="http://internetwide.org">InternetWide</a> » <a href="index.html">Demo</a> » <a href="maildemo.html">Mail with Access Control</a></small>
</p>
<h1 id="demonstration-of-mail-addresses-with-access-control">Demonstration of Mail Addresses with Access Control</h1>
<blockquote>
<p><em>We can use Access Control to constrain who may send email to a recipient. The recipient crafts a special address for that purpose, involving a signature. This is something only the recipient can do, so it requires authentication.</em></p>
</blockquote>
<p>This is not a demonstration of Realm Crossover, but it uses HTTP-SASL to login on the web server in the Client Domain. This is enforced over a FastCGI plugin that talks to the mail server.</p>
<h2 id="run-the-demo">Run the Demo</h2>
<p>Proceed as follows:</p>
<ul>
<li>Open the <a href="https://web0.pixie.demo.arpa2.org/internetwide/mail/makemail.cgi">Makemail utility</a> in a separate tab</li>
<li>Authenticate as before, user <code>demo</code> and password <code>sekreet</code>. You can use SASL mechanism <code>DIGEST-MD5</code> or <code>SXOVER-PLUS</code>.</li>
<li>Allow connections from the <code>example.com</code> domain name.</li>
<li>Clear the timeout or change it, as you like.</li>
<li>Click the <code>MakeMail »</code> button.</li>
<li>Authenticate once more.</li>
<li>You can use the <code>Copy »</code> button to clone the address. Keep the page open.</li>
</ul>
<p>Now you can open a Terminal (under Activities) and manually connect to the mail server in the Client Domain. This gets a bit technical, as you will now be doing the SMTP dance to see how mail servers communicate.</p>
<ul>
<li>In a terminal, run <code>nc mail0.pixie.demo.arpa2.org 25</code> to connect over SMTP.</li>
<li>The mail server greets you with <code>220 mail0.pixie.demo.arpa2.org ESMTP Postfix (Debian/GNU)</code></li>
<li>Return the pleasantries with <code>EHLO example.com</code> (or <code>EHLO example.net</code>)</li>
<li>The server responds with a list of features and ends with <code>250 ...</code> without dash.</li>
<li>You now enter <code>MAIL FROM:&lt;john@exmaple.com&gt;</code> if you want to match the email address constraints, or otherwise something like <code>MAIL FROM:&lt;mary@example.net&gt;</code> which clearly has another domain.</li>
<li>The server agrees with <code>250 2.1.0 Ok</code> because it is not yet aware of who you intend to send to.</li>
<li>You now enter <code>RCPT TO:&lt;</code> followed by the pasted email address and <code>&gt;</code> all as one line.</li>
<li>If you came from the permitted domain, you will see <code>250 2.1.5 Ok</code>.</li>
<li>If you came from another domain, you will see <code>553 Recipient address enforces another context</code></li>
</ul>
<p>What this shows you, if you run both variants on the mail server, is that it can distinguish between the sender domains and permit only the desired one to pass. If you set an expiration in a few days, you could try again later to see that also being imposed.</p>
<p>The purpose here is to stay in control when others spread your email address, possibly in disregard for privacy laws or your own feeling of who may have it. (In a complete setup, there would be an Access Control setting to disallow the use of an unsigned address, but this demo does not enforce that.)</p>
<p>This protection would be a fluke if the page for constructing these signed addresses was publicly availabel. And so, we use authentication. The reason you had to login twice is because we give you authentication as-is. Practical software remembers a recent success of login, so it does not require login for every page.</p>
<h2 id="software-used">Software Used</h2>
<p>Our mail software demonstrated here is:</p>
<ul>
<li><a href="https://gitlab.com/arpa2/mkroot/-/tree/master/internetwide/mail">internetwide/mail</a> is our incoming mail server, built into an Open Container.</li>
<li><a href="https://gitlab.com/arpa2/AxeSMTP">AxeSMTP</a> is the mail server toolkit and it also contributes the <code>makemail.fcgi</code> FastCGI program.</li>
<li><a href="https://gitlab.com/arpa2/arpa2common">ARPA2 Common</a> with its <a href="http://common.arpa2.net/">online documentation</a> provide the generic ARPA2 Identity and Access Control mechanisms.</li>
</ul>
<p>Our web software demonstrated here is:</p>
<ul>
<li><a href="https://gitlab.com/arpa2/mkroot/-/tree/master/internetwide/mail">internetwide/web</a> is our web server, built into an Open Container. It uses a FastCGI backend.</li>
<li><a href="https://gitlab.com/arpa2/apachemod/-/tree/master/arpa2_diasasl">mod_arpa2_diasasl.so</a> is an Apache plugin for our <a href="https://gitlab.com/arpa2/apachemod/-/tree/master/arpa2_diasasl">Quick-DiaSASL protocol</a>.</li>
<li><a href="https://gitlab.com/arpa2/mkroot/-/tree/master/internetwide/lanservice/">internetwide/lanservice</a> concentrates the Quick-DiaSASL protocol in <a href="https://gitlab.com/arpa2/freediameter-sasl">freediameter-sasl</a> whose client side handles the login.</li>
</ul>
<h2 id="posing-a-challenge">Posing a Challenge</h2>
<p>Would you like to play around with HTTP-SASL and perhaps Realm Crossover? Then interfacing with this utility can be a good start. When asked for <code>Access: application/json</code> it will happily produce less wordy content, and even just <code>null</code> in response to failures <em>after</em> authentication succeeded.</p>
<p>To support you with this kind of thinking, we delivered a complete hosting environment that gives you the freedom to <a href="hacking.html">hack around</a> as you desire. One thing you might like to do, is view the console of the <code>mail0</code> container in the Client Domain, because it currently dumps the signatures contained in the email adress while verifying them.</p>
<h2 id="demonstration-screenshot">Demonstration Screenshot</h2>
<figure>
<img src="maildemo.png" alt="Mail Demo in Motion" /><figcaption>Mail Demo in Motion</figcaption>
</figure>
<p><em>The multiple title bars on top are from the i3 window manager, navigating the VirtualBox screens in “stacked” mode. Using the modifier key with up/down arrows, this setup can switch quickly between screens. Unlike on the Gnome desktop, the mouse is reduced to an optional extra, so it does not slow down repetitious context switching.</em></p>
