<p align="right">
<small><a href="http://internetwide.org">InternetWide</a> » <a href="index.html">Demo</a> » <a href="sxoverdemo.html">Realm Crossover</a></small>
</p>
<h1 id="demonstration-of-realm-crossover-for-sasl">Demonstration of Realm Crossover for SASL</h1>
<blockquote>
<p><em>Realm Crossover passes authentication from a relying-service domain to an identity provider representing the client’s domain. We demonstrate how this can be done by relaying SASL traffic over Diameter.</em></p>
</blockquote>
<p>The use of HTTP-SASL makes it easy to pass authentication traffic into a backend. This backend can be easily standardised and even relayed to an identity provider that runs under the client’s own control. This enables service providers to offer clients to Bring Your Own IDentity, instead of yet another account at yet another website after yet another email “authentication” procedure.</p>
<p><strong>Take note</strong> that we are protocol desigers, not GUI designers. The popup may be a bit clunky, and is mostly to show possibilities. Do not close the popup yourself. It is only started when FireFox starts. Should it crash, then stop and restart FireFox to get a new login demo.</p>
<h2 id="run-the-demo">Run the Demo</h2>
<p>Proceed as follows:</p>
<ul>
<li>Open the <a href="https://web0.unicorn.demo.arpa2.org/demo/http-sasl/">HTTP-SASL demo page</a> in a separate tab</li>
<li>Authenticate as user <code>demo</code> and password <code>sekreet</code>. Set the SASL mechanism to <code>SXOVER-PLUS</code>. Your domain <code>pixie.demo.arpa2.org</code> will be used to find your identity provider.</li>
<li>After login, your authenticated user identity is shown to you. As you can see, it involves the <code>pixie.demo.arpa2.org</code> domain in which your identity provider runs.</li>
<li>In this procedure you managed to Bring Your Own IDentity (BYOID).</li>
</ul>
<p>What this shows you, is that we always use the form <code>user@domain.name</code> for an authenticated user and, given that you run an identity provider, you can you can login under your own domain. This is what your selection for the <code>SXOVER-PLUS</code> mechanism demonstrates.</p>
<p>Please compare this situation with the HTTP-SASL case. The vital difference is the domain name, which is the start of authority over online conduct.</p>
<h2 id="background">Background</h2>
<p>Users of the Internet have been reduced from first-class citizens to mere <em>click bait</em> under the pretense of bringing them “free” services. Users do not even control their own identity, in contrast with the intentions of the Internet to harbour a domain name for anyone as a sovereign entry into the online World.</p>
<p>Owning a domain however, involves running services. This is not expensive, but it requires technical abilities that are not common. Hosting providers form a stepping stone, but they are struggling to keep up with integrated packages pushed out by a few very large actors. Open source offers alternatives, but is not very good at integration.</p>
<p>The approach sketched on the <a href="hacking.html">hacking page</a> describes our work on the <em>InternetWide Architecture</em> for better integration with containers that connect to remote containers almost as easily as to local ones. The suspicion is that some hosting providers become Identity Providers (under control of their customers) while others become Plugin Service Providers who specialise on one or a few specific components. Customers can select such services from external parties and plug those into their domain name.</p>
<p>We wrote a <a href="https://gitlab.com/arpa2/domain-owners-manual">Domain Owner’s Manual</a> as an evolving document to which we want to add things that empower users to return to their fair state of first-class citizens.</p>
<p>All this builds on a shared idea of Identity, Authentication and Access Control. It should be no surprise then, that we worked on all that:</p>
<ul>
<li><a href="http://common.arpa2.net/md_doc_IDENTITY.html">Identity with Selectors</a> play a defining role for <a href="https://datatracker.ietf.org/doc/html/draft-vanrein-internetwide-realm-crossover">InternetWide Realm Crossover</a>. The Identity concepts support advanced features such as <a href="http://common.arpa2.net/md_doc_GROUP.html">Groups</a> and <a href="http://common.arpa2.net/md_doc_ACTOR.html">Actors</a>.</li>
<li><a href="http://common.arpa2.net/md_doc_ACCESS_COMM.html">Access Control for Communication</a> and <a href="http://common.arpa2.net/md_doc_ACCESS_DOCUMENT.html">Documents</a>, for starters.</li>
<li><a href="http://internetwide.org/">Visit our blog</a> for more background.</li>
</ul>
<h2 id="what-is-realm-crossover">What is Realm Crossover?</h2>
<p>The idea of Realm Crossover is shown below.</p>
<figure>
<img src="cli-srv-cli.svg" alt="Client Desktop connects to Server Domain, which authenticates the client via a callback to the Client Domain." /><figcaption><em>Client Desktop connects to Server Domain, which authenticates the client via a callback to the Client Domain.</em></figcaption>
</figure>
<p>We all play the role of client when we access a server hosted somewhere. These servers usually ask us to login, so they know what context to show to us. Instead of an account with every single server, and loosing passwords or forgetting account names, we can use Real Crossover.</p>
<p>This starts with the client stating that they want to login using their own hosted domain, shown as the Client Domain in the picture. The Server Domain connects to the Client Domain to obtain a user identity. It then attaches the domain name of the client to form something of the form <code>userid@client.domain</code> and treats that string as the authenticated user identity.</p>
<p>It is up to the Client Domain to handle user identities and to state them for the right clients. To that end, the client login is passed through the Server Domain to the Client Domain, where it is validated. The entire flow is inivisible to the Server Domain, with the exception of the <code>client.domain</code> name that indicates where to connect.</p>
<h2 id="what-is-the-internetwide-architecture">What is the InternetWide Architecture?</h2>
<p>The purpose of the <a href="http://internetwide.org/tag/architecture.html">InternetWide Architecture</a> is to turn users into first-class citizens of the Internet. This starts by controlling their own <a href="http://internetwide.org/tag/identity.html">identities</a>, underneath their own Client Domain, and to <a href="http://internetwide.org/blog/2015/04/22/id-2-byoid.html">Bring Your Own IDentity</a> to any Server Domain.</p>
<p>In general, we provide software for a <a href="http://internetwide.org/tag/hosting.html">hosting infrastructure</a> for <a href="https://gitlab.com/arpa2/domain-owners-manual">domain names</a> that is designed to run on anything from a small home system to a large hosting facility in some co-located server machine. Note that we are careful not to use vague terms like <em>cloud</em>, but if that is how you host your domain then it should work just as well. We just prefer to point more accurately at components than at a haze in the sky.</p>
<h2 id="software-used">Software Used</h2>
<p>Our web software demonstrated here is:</p>
<ul>
<li><a href="https://gitlab.com/arpa2/mkroot/-/tree/master/internetwide/mail">internetwide/web</a> is our web server, built into an Open Container. It uses a FastCGI backend.</li>
<li><a href="https://gitlab.com/arpa2/apachemod/-/tree/master/arpa2_diasasl">mod_arpa2_diasasl.so</a> is an Apache plugin for our <a href="https://gitlab.com/arpa2/apachemod/-/tree/master/arpa2_diasasl">Quick-DiaSASL protocol</a>.</li>
<li><a href="https://gitlab.com/arpa2/mkroot/-/tree/master/internetwide/lanservice/">internetwide/lanservice</a> concentrates the Quick-DiaSASL protocol in <a href="https://gitlab.com/arpa2/freediameter-sasl">freediameter-sasl</a> whose client side handles the login.</li>
<li><a href="https://gitlab.com/arpa2/mkroot/-/tree/master/internetwide/identity/">internetwide/identity</a> receives foreign services’ attempts to authenticate visitors with SASL under Realm Crossover.</li>
</ul>
